# Git
.git
.gitignore

# Docker
.dockerignore
docker-compose.override.yml

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/

# Django
db.sqlite3
media/
staticfiles/

# IDE
.idea/
.vscode/

# macOS
.DS_Store