# Docker
.env
docker-compose.override.yml

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
media/
/staticfiles/

# IDE configuration files
.idea/
.vscode/

# macOS specific files
.DS_Store